body {
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: rgb(51, 51, 51);
  background-color: rgb(242, 242, 242);

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

body.no-js .modal {
  display: block;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

input::-ms-clear {
   display: none;
}

.all-content {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.navigation {
  width: 100%;
  margin: 0;
  padding: 0;

  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.navigation__site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  margin: 0;
  padding: 0;
  padding-right: 72px;
  padding-left: 72px;

  list-style: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation__item {
  width: 241px;
  margin: 0;
  padding: 14px 0px 16px 0px;
}

.navigation__item:nth-child(4n+1) {
  margin-right: 0;

  text-align: left;
}

.navigation__item:nth-child(4n+2) {
  margin-right: auto;

  text-align: left;
}

.navigation__item:nth-child(4n+3) {
  margin-left: auto;

  text-align: right;
}

.navigation__item:nth-child(4n+4) {
  margin-left: 0;

  text-align: right;
}

.navigation__item a:link,
.navigation__item a:visited {
  color: rgb(0, 0, 0);
}

.navigation__item a:hover {
  color: rgb(129, 179, 210);
}

.navigation__item a:focus,
.navigation__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation__item--current a:link,
.navigation__item--current a:visited {
  color: rgb(118, 99, 87);
}

.main-header {
  position: relative;
}

.main-header img {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 50%;

  margin-left: -68px;
}

.banner {
  position: relative;

  width:100%;
  height: 508px;
  margin: 0;
  padding: 0;

  background-color: rgb(108, 133, 154);
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
}

.banner img {
  position: absolute;
  top: 76px;
  left: 50%;

  margin-left: -228px;
}

.intro {
  width: 100%;

  background-color: rgb(255, 255, 255);
}

.intro h1 {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-right: 378px;
  padding-left: 378px;

  text-align: center;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.intro p {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-right: 352px;
  padding-bottom: 51px;
  padding-left: 350px;

  text-align: center;

  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

.single-reason-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  margin: 0;
  padding: 0;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
}

.single-reason-container:first-of-type::after {
  width: 800px;
  min-height: 256px;

  content: "";

  background-color: rgb(157, 120, 90);
  background-image: url("../img/real-city.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.single-reason-container:last-of-type::before {
  width: 800px;
  min-height: 256px;

  content: "";

  background-color: rgb(130, 81, 57);
  background-image: url("../img/devil's-bridge.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.single-reason {
  width: 400px;

  text-align: center;

  background-color: rgb(129, 179, 210);
}

.single-reason h3 {
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-right: 120px;
  padding-left: 120px;

  color: rgb(255, 255, 255);

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.single-reason__number {
  margin: 0;
  padding: 0;
  padding-top: 23px;

  color: rgb(255, 255, 255);

  font-size: 14px;
  line-height: 21px;
}

.single-reason__explanation {
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-right: 48px;
  padding-bottom: 59px;
  padding-left: 48px;

  color: rgb(255, 255, 255);

  font-size: 14px;
  line-height: 21px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-list__item {
  position: relative;

  width: 400px;

  text-align: center;

  background-color: rgb(255, 255, 255);
}

.features-list__item:nth-child(1)::before {
  position: absolute;
  top: 52px;
  left: 160px;

  width: 80px;
  height: 80px;

  content: "";

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
}

.features-list__item:nth-child(2)::before {
  position: absolute;
  top: 51px;
  left: 160px;

  width: 80px;
  height: 80px;

  content: "";

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
}

.features-list__item:nth-child(3)::before {
  position: absolute;
  top: 52px;
  left: 160px;

  width: 80px;
  height: 80px;

  content: "";

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
}

.features-list__item h3 {
  margin: 0;
  padding: 0;
  padding-top: 161px;

  color: rgb(0, 0, 0);

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.features-list__item p {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-right: 55px;
  padding-bottom: 82px;
  padding-left: 55px;

  color: rgb(51, 51, 51);

  font-size: 14px;
  line-height: 21px;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reasons-list__item {
  width: 400px;

  text-align: center;

  background-color: rgb(238, 238, 238);
}

.reasons-list__item h3 {
  margin: 0;
  padding: 0;
  padding-top: 48px;
  padding-right: 141px;
  padding-left: 141px;

  color: rgb(0, 0, 0);

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.reasons-list__number {
  margin: 0;
  padding: 0;
  padding-top: 24px;

  color: rgb(51, 51, 51);

  font-size: 14px;
  line-height: 21px;
}

.reasons-list__explanation {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-right: 65px;
  padding-bottom: 60px;
  padding-left: 65px;

  text-align: center;

  color: rgb(51, 51, 51);

  font-size: 14px;
  line-height: 21px;
}

.hotel-search {
  position: relative;

  width: 100%;
  margin: 0;
  padding: 0;

  text-align: center;

  background-color: rgb(255, 255, 255);
}

.hotel-search__bold-text {
  display: block;

  margin: 0;
  padding: 0;
  padding-top: 49px;

  color: rgb(0, 0, 0);

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.hotel-search__what-to-do {
  margin: 0;
  margin-bottom: 47px;
  padding: 0;
  padding-top: 24px;

  color: rgb(51, 51, 51);

  font-size: 14px;
  line-height: 24px;
}

.hotel-search__open-search-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: rgb(255, 255, 255);
  border: 0px;
  background-color: rgb(118, 99, 87);

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.hotel-search__open-search-button:hover,
.hotel-search__open-search-button:focus {
  background-color: rgb(96, 78, 67);
}

.hotel-search__open-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(80, 62, 51);
}

.map-and-modal {
  position: relative;

  width: 100%;
  height: 593px;
  margin: 0;
  padding: 0;

  background-color: rgb(224,237,187);
  background-image: url("../img/map.jpg");
}

.map {
  display: block;

  width: 100%;
  height: 100%;

  border: 0px;
  background-repeat: no-repeat;
  background-position: left top;
}

.modal {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 316px;

  display: none;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  margin: 0;
  padding: 0;
  padding-right: 55px;
  padding-left: 55px;

  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal-show {
  display: block;

  -webkit-animation: bounce 1s;
          animation: bounce 1s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-395px);
            transform: translateY(-395px);

            opacity: 0;
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);

            opacity: 0.5;
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);

            opacity: 0.9;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);

            opacity: 1;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-395px);
            transform: translateY(-395px);

            opacity: 0;
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);

            opacity: 0.5;
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);

            opacity: 0.9;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);

            opacity: 1;
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  margin: 0;
  margin-top: 30px;
  padding: 0;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
}

.date:first-child {
  margin-top: 55px;
}

.date__label {
  display: block;

  width: 112px;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;

  color: rgb(0, 0, 0);

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.date__container {
  position: relative;

  width: 346px;
  margin: 0;
  padding: 0;
}

.date__container input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding-top: 6px;
  padding-right: 50px;
  padding-bottom: 6px;
  padding-left: 13px;

  text-transform: uppercase;

  color: rgb(0, 0, 0);
  border: 0px;
  background-color: rgb(242, 242, 242);

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.date__container input:hover {
  background-color: rgb(235, 235, 235);
}

.date__container input:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  outline: 2px solid rgb(229, 229, 229);
  outline-offset: -2px;
  background-color: rgb(255, 255, 255);
}

input::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}

input:-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

input::-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

input::placeholder {
  color: rgb(0, 0, 0);
}

.date__calendar {
  position: absolute;
  top: 8px;
  right: 9px;

  margin: 0;
  padding: 0;

  border: 0px;
  background-color: transparent;
}

.date__calendar path {
  fill: rgb(202, 202, 202);
}

.date__calendar:hover path,
.date__calendar:focus path {
  fill: rgb(0, 0, 0);
}

.date__calendar:active path {
  fill: rgb(129, 179, 210);
}

.clients-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  margin: 0;
  margin-top: 30px;
  padding: 0;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
}

.clients-number__label {
  display: block;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 112px;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;

  color: rgb(0, 0, 0);

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.clients-number__label--align-right {
  padding-right: 28px;

  text-align: right;
}

.clients-number__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 114px;
  margin: 0;
  padding: 0;
}

.clients-number__container input:hover {
  background-color: rgb(235, 235, 235);
}

.clients-number__container input:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  outline: 2px solid rgb(229, 229, 229);
  outline-offset: -2px;
  background-color: rgb(255, 255, 255);
}

.clients-number__container input {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: rgb(0, 0, 0);
  border: 0px;
  background-color: rgb(242, 242, 242);

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.clients-number__count-button {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  border: 0px;
  background-color: rgb(242, 242, 242);

  font-size: 0px;
}

.clients-number__count-button--plus::before,
.clients-number__count-button--plus::after,
.clients-number__count-button--minus::before {
  position: absolute;
  top: 18px;
  left: 13px;

  width: 11px;
  height: 3px;

  content: "";

  background-color: rgb(169, 169, 169);
}

.clients-number__count-button--plus::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.clients-number__count-button--plus:hover::before,
.clients-number__count-button--plus:focus::before,
.clients-number__count-button--minus:hover::before,
.clients-number__count-button--minus:focus::before,
.clients-number__count-button--plus:hover::after,
.clients-number__count-button--plus:focus::after,
.clients-number__count-button--minus:hover::after,
.clients-number__count-button--minus:focus::after {
  background-color: rgb(0, 0, 0);
}

.clients-number__count-button--plus:active::before,
.clients-number__count-button--minus:active::before,
.clients-number__count-button--plus:active::after,
.clients-number__count-button--minus:active::after {
  background-color: rgb(129, 179, 210);
}

.submit-search-button {
  display: block;

  width: 100%;
  margin: 0;
  margin-top: 53px;
  margin-bottom: 54px;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;

  text-align: center;
  text-transform: uppercase;

  color: rgb(255, 255, 255);
  border: 0px;
  background-color: rgb(129, 179, 210);

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.submit-search-button:hover,
.submit-search-button:focus {
  background-color: rgb(102, 158, 192);
}

.submit-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(84, 150, 189);
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  width: 100%;
  margin: 0;
  padding: 36px 0 36px 0;

  background-color: rgb(255, 255, 255);

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer--opacity {
  position: absolute;
  bottom: 0px;

  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  width: 400px;
  margin: 0;
  padding: 0;

  text-align: center;

  color: rgb(0, 0, 0);

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  width: 400px;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: center;
}

.footer-social__item {
  margin: 0;
  margin-right: 6px;
  padding: 0;

  background-color: rgb(129, 179, 210);
}

.footer-social__item:last-child {
  margin: 0;
  padding: 0;

  background-color: rgb(129, 179, 210);
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 46px;
  height: 48px;

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: rgb(102, 158, 192);
}

.footer-social__link:active {
  background-color: rgb(84, 150, 189);

  fill: rgba(255, 255, 255, 0.3);
}

.footer-social__link:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 400px;
  margin: 0;
  padding: 0;

  color: rgb(0, 0, 0);

  font-size: 14px;
  line-height: 26px;

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright__logo-link {
  margin-left: 8px;
}

.footer-copyright svg {
  width: 113px;
  height: 39px;

  vertical-align: middle;
}

.footer-copyright__logo-link path {
  fill: rgb(0, 0, 0);
}

.footer-copyright__logo-link:hover path,
.footer-copyright__logo-link:focus path {
  fill: rgb(129, 179, 210);
}

.footer-copyright__logo-link:active path {
  fill: rgb(189, 187, 188);
}

.footer-copyright__logo-link rect {
  fill: rgb(0, 0, 0);
}

.footer-copyright__logo-link:hover rect,
.footer-copyright__logo-link:focus rect {
  fill: rgb(129, 179, 210);
}

.footer-copyright__logo-link:active rect {
  fill: rgb(189, 187, 188);
}

.hotels-search-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-right: 72px;
  padding-left: 72px;

  background: rgb(66, 84, 100) url("../img/filter-background.jpg") left -56px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter-form-part {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.filter-form-part--infrastructure {
  width: 240px;
}

.filter-form-part--residence-type {
  width: 471px;
  margin-left: 15px;
}

.filter-form-part--price-per-day {
  width: 330px;
}

.filter-form-part__header {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 25px;
  padding: 0;

  color: rgb(255, 255, 255);

  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.filter-form-part__header--price-per-day {
  margin-bottom: 10px;
}

.filter-form-part__list {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  list-style: none;
}

.filter-form-part__option {
  margin-bottom: 25px;
  padding-left: 41px;
}

.filter-form-part__option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  color: rgb(255, 255, 255);

  font-size: 14px;
  line-height: 21px;
}

.filter-form-part__input-checkbox:not(:checked) + label::before {
  position: absolute;
  left: -40px;

  width: 23px;
  height: 23px;

  content: "";

  background: url("../img/checkbox-off.svg") no-repeat;
}

.filter-form-part__input-checkbox:checked + label::after {
  position: absolute;
  left: -40px;

  width: 27px;
  height: 23px;

  content: "";

  background: url("../img/checkbox-on.svg") no-repeat;
}

.filter-form-part__input-checkbox:disabled + label::before {
  background: url("../img/checkbox-off-disabled.svg") no-repeat;
}

.filter-form-part__input-checkbox:checked:disabled + label::after {
  background: url("../img/checkbox-on-disabled.svg") no-repeat;
}

.filter-form-part__input-checkbox:focus + label {
  outline: 1px dotted rgb(129, 179, 210);
}

.filter-form-part__choose-price-block {
  margin-left: 14px;
}

.filter-form-part__price-controls {
  position: relative;

  margin-bottom: 20px;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;

  font-size: 0;

}

.filter-form-part__price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  content: "";
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  background-color: rgb(255, 255, 255);
}

.filter-form-part__price {
  display: inline-block;

  width: 82px;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 65px;

  cursor: pointer;
  vertical-align: top;

  color: rgb(255, 255, 255);

  font-size: 14px;
  line-height: 21px;
}

.filter-form-part__price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  border: none;
  background: none;

  font: inherit;
}

.filter-form-part__range-controls {
  position: relative;

  margin-bottom: 32px;
}

.filter-form-part__scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.filter-form-part__bar {
  width: 80%;
  height: 2px;

  background-color: rgb(255, 255, 255);
}

.filter-form-part__range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(171, 171, 171);
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.filter-form-part__range-toggle:hover {
  background-color: rgb(171, 171, 171);
}

.filter-form-part__range-toggle--min {
  left: 0;
}

.filter-form-part__range-toggle--min {
  left: 80%;
}

.filter-form-part__button-transparent {
  display: block;

  margin: 0 auto;
  padding: 6px 32px 6px 35px;

  cursor: pointer;
  text-transform: uppercase;

  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  background: transparent;

  font-size: 14px;
  line-height: 21px;
}

.filter-form-part__button-transparent:hover,
.filter-form-part__button-transparent:focus {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.sorting-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 31px;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.founded {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 164px;
  margin: 0;
  margin-left: 73px;
  padding: 0;

  color: rgb(0, 0, 0);

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sorting-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 856px;
  margin: 0;
  padding: 0;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sorting-filters__sorting {
  margin: 0;
  padding: 0;

  color: rgb(0, 0, 0);

  font-size: 12px;
  line-height: 18px;
}

.sorting-filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sorting-filters__item {
  margin-left: 32px;

  font-size: 12px;
  line-height: 18px;
}

.sorting-filters__item:first-child {
  margin-left: 40px;
}

.sorting-filters__item a:link,
.sorting-filters__item a:visited {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.sorting-filters__item a:hover {
  color: rgb(129, 179, 210);
}

.sorting-filters__item a:focus,
.sorting-filters__item a:active {
  color: rgba(0, 0, 0);
  border: none;
}

.sorting-filters__item--current a:link,
.sorting-filters__item--current a:visited {
  color: rgb(129, 179, 210);
  border: none;
}

.sorting-arrows {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 34px;
  margin: 0;
  margin-right: 73px;
  padding: 0;
}

.sorting-arrows__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting-arrows__item {
  margin: 0;
  padding: 0;
}

.sorting-arrows__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 11px;
  height: 10px;

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sorting-arrows__arrow:link path,
.sorting-arrows__arrow:visited path {
  fill: rgba(202, 202, 202);
}

.sorting-arrows__arrow:hover path {
  fill: rgb(35, 31, 32);
}

.sorting-arrows__arrow:focus path,
.sorting-arrows__arrow:active path {
  fill: rgb(129, 179, 210);
}

.sorting-arrows__arrow--current:link path,
.sorting-arrows__arrow--current:visited path {
  fill: rgb(129, 179, 210);
}

.hotels-list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding-right: 73px;
  padding-left: 73px;

  border-top: 1px solid rgb(229, 229, 229);

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hotels-list-item:last-child {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.hotels-list-item__photo-block {
  display: block;

  width: 165px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 25px;
}

.hotels-list-item__info-block {
  width: 650px;
  margin: 0;
  padding: 0;
}

.hotels-list-item__name {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  padding-top: 25px;

  color: rgb(0, 0, 0);

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.hotels-list-item__name a:link,
.hotels-list-item__name a:visited {
  color: rgb(0, 0, 0);

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.hotels-list-item__name a:hover {
  color: rgb(129, 179, 210);
}

.hotels-list-item__name a:focus,
.hotels-list-item__name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-list-item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;

  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hotels-list-item__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  margin: 0;
  margin-right: 6px;
  padding: 0;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.hotels-list-item__info {
  margin: 0;
  padding: 0;

  color: rgb(51, 51, 51);

  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.hotels-list-item__button:link,
.hotels-list-item__button:visited {
  margin-top: 16px;
  padding-top: 2px;
  padding-right: 17px;
  padding-bottom: 4px;
  padding-left: 17px;

  text-align: center;

  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}

.hotels-list-item__button--details:link,
.hotels-list-item__button--details:visited {
  color: rgb(255, 255, 255);
  background-color: rgb(129, 179, 210);
}

.hotels-list-item__button--details:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(102, 158, 192);
}

.hotels-list-item__button--details:focus,
.hotels-list-item__button--details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(84, 150, 189);
}

.hotels-list-item__button--booking:link,
.hotels-list-item__button--booking:visited {
  color: rgb(255, 255, 255);
  background-color: rgb(118, 99, 87);
}

.hotels-list-item__button--booking:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(96, 78, 67);
}

.hotels-list-item__button--booking:focus,
.hotels-list-item__button--booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(80, 62, 51);
}

.hotels-list-item__rating-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -ms-flex-preferred-size: 241px;
      flex-basis: 241px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hotels-list-item__star-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-top: 29px;
  padding: 0;

  background-color: rgb(255, 255, 255);

  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hotels-list-item__star {
  width: 18px;
  height: 17px;
  margin-left: 5px;

  background: url("../img/star.svg") no-repeat;
}

.hotels-list-item__rating {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 2px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 16px;

  color: rgb(102, 102, 102);
  background-color: rgb(242, 242, 242);

  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}
