body {
  margin: 0;
  padding: 0;
  background-color: rgb(242, 242, 242);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.all-content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.navigation {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: rgb(0, 0, 0);
}

.navigation__site-navigation {
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-right: 72px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navigation__item {
  margin: 0;
  padding: 14px 0px 16px 0px;
  width: 241px;
}

.navigation__item:nth-child(4n+1) {
  text-align: left;
  margin-right: 0;
}

.navigation__item:nth-child(4n+2) {
  text-align: left;
  margin-right: auto;
}

.navigation__item:nth-child(4n+3) {
  text-align: right;
  margin-left: auto;
}

.navigation__item:nth-child(4n+4) {
  text-align: right;
  margin-left: 0;
}

.navigation__item a:link,
.navigation__item a:visited {
  color: rgb(0, 0, 0);
}

.navigation__item a:hover {
  color: rgb(129, 179, 210);
}

.navigation__item a:focus,
.navigation__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation__item--current a:link,
.navigation__item--current a:visited {
  color: rgb(118, 99, 87);
}

.main-header {
  position: relative;
}

.main-header img {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -68px;
  z-index: 1;
}

.banner {
  position: relative;
  padding: 0;
  margin: 0;
  width:100%;
  height: 508px; /* В данном случае наверное можно прописать, ведь текстового контента нет, значит и переполнения им не будет */
  background-color: #ffffff, #deecf5;
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-position: bottom center, top center;
  background-repeat: no-repeat, no-repeat;
}

.banner img {
  position: absolute;
  left: 50%;
  top: 76px;
  margin-left: -228px;
}

.intro {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.intro h1 {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-right: 380px;
  padding-left: 380px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.intro p {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-right: 352px;
  padding-bottom: 51px;
  padding-left: 350px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

.single-reason-container {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

.single-reason-container:first-of-type::after {
  width: 800px;
  min-height: 256px; /* Можно ли тут оставить? Чтобы минимальная высота блока равнялась высоте фоновой картинки */
  content: "";
  background-image: url("../img/real-city.jpg");
  background-color: rgb(168, 181, 163);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.single-reason-container:last-of-type::before {
  width: 800px;
  min-height: 256px; /* Можно ли тут оставить? Чтобы минимальная высота блока равнялась высоте фоновой картинки */
  content: "";
  background-image: url("../img/devil's-bridge.jpg");
  background-color: rgb(168, 181, 163);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.single-reason {
  background-color: rgb(129, 179, 210);
  width: 400px;
  text-align: center;
}

.single-reason h3 {
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-right: 120px;
  padding-left: 120px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.single-reason__number {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  font-size: 14px;
  line-height: 21px;
  color: rgb(255, 255, 255);
}

.single-reason__explanation {
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-right: 48px;
  padding-bottom: 59px;
  padding-left: 48px;
  font-size: 14px;
  line-height: 21px;
  color: rgb(255, 255, 255);
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.features-list__item {
  position: relative;
  text-align: center;
  width: 400px;
  background-color: rgb(255, 255, 255);
}

.features-list__item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 52px;
  left: 160px;
  width: 80px;
  height: 80px;
  background-image: url("../img/icon-1.svg");
  background-position: 50% bottom;
  background-repeat: no-repeat;
}

.features-list__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 51px;
  left: 160px;
  width: 80px;
  height: 80px;
  background-image: url("../img/icon-3.svg");
  background-position: 50% bottom;
  background-repeat: no-repeat;
}

.features-list__item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 52px;
  left: 160px;
  width: 80px;
  height: 80px;
  background-image: url("../img/icon-2.svg");
  background-position: 50% bottom;
  background-repeat: no-repeat;
}

.features-list__item h3 {
  margin: 0;
  padding: 0;
  padding-top: 161px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.features-list__item p {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-right: 55px;
  padding-bottom: 82px;
  padding-left: 55px;
  font-size: 14px;
  line-height: 21px;
  color: rgb(51, 51, 51);
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.reasons-list__item {
  text-align: center;
  width: 400px;
  background-color: rgb(238, 238, 238);
}

.reasons-list__item h3 {
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-right: 141px;
  padding-left: 141px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.reasons-list__number {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  font-size: 14px;
  line-height: 21px;
  color: rgb(51, 51, 51);
}

.reasons-list__explanation {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-right: 65px;
  padding-bottom: 60px;
  padding-left: 65px;
  white-space: pre; /* Костыль, но без него никак... */
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: rgb(51, 51, 51);
}

.hotel-search {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.hotel-search__bold-text {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.hotel-search__what-to-do {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 133px;
  font-size: 14px;
  line-height: 24px;
  color: rgb(51, 51, 51);
}

.hotel-search__open-search-button {
  position:absolute;
  bottom: 0px;
  left: 316px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 568px;
  height: 86px;
  background-color: rgb(118, 99, 87);
  color: rgb(255, 255, 255);
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 0px;
}

.hotel-search__open-search-button:hover,
.hotel-search__open-search-button:focus {
  background-color: rgb(96, 78, 67);
}

.hotel-search__open-search-button:active {
  background-color: rgb(80, 62, 51);
  color: rgba(255, 255, 255, 0.3);
}

.map-and-modal {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

.map {
  width: 100%;
  height: 593px;
  border: 0px;
}

.modal {
  display: none;
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 55px;
  padding-right: 55px;
  z-index: 1;
  top: 0px;
  left: 316px;
  width: 568px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal-show {
  display: block;
  animation: bounce 1s;
}

@keyframes bounce {
  0% {
    transform: translateY(-395px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.date {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.date:first-child {
  margin-top: 55px;
}

.date__label {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 112px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: rgb(0, 0, 0);
}

.date__container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 346px;
}

.date__container input {
  box-sizing: border-box;
  width: 100%;
  padding-top: 6px;
  padding-right: 50px;
  padding-bottom: 6px;
  padding-left: 13px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 242, 242);
  border: 0px;
}

.date__container input:hover {
  background-color: rgb(235, 235, 235);
}

.date__container input:focus {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  outline: 2px solid rgb(229, 229, 229);
  outline-offset: -2px;
}

input::-moz-placeholder {
  color: rgb(0, 0, 0);
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}

input:-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

input::-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

input::placeholder {
  color: rgb(0, 0, 0);
}

.date__calendar {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0px;
  top: 8px;
  right: 9px;
}

.date__calendar path {
  fill: rgb(202, 202, 202);
}

.date__calendar:hover path,
.date__calendar:focus path {
  fill: rgb(0, 0, 0);
}

.date__calendar:active path {
  fill: rgb(129, 179, 210);
}

.clients-number {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.clients-number__label {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 112px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: rgb(0, 0, 0);
}

.clients-number__label--align-right {
  text-align: right;
  padding-right: 28px;
}

.clients-number__container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 114px;
}

.clients-number__container input {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-align: center;
  vertical-align: middle;
  background-color: rgb(242, 242, 242);
  border: 0px;
}

.clients-number__count-button {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  border: 0px;
  font-size: 0px;
  background-color: rgb(242, 242, 242);
}

.clients-number__count-button--plus::before,
.clients-number__count-button--plus::after,
.clients-number__count-button--minus::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  background-color: rgb(169, 169, 169);
  top: 18px;
  left: 13px;
}

.clients-number__count-button--plus::after {
  transform: rotate(90deg);
}

.clients-number__count-button--plus:hover::before,
.clients-number__count-button--plus:focus::before,
.clients-number__count-button--minus:hover::before,
.clients-number__count-button--minus:focus::before,
.clients-number__count-button--plus:hover::after,
.clients-number__count-button--plus:focus::after,
.clients-number__count-button--minus:hover::after,
.clients-number__count-button--minus:focus::after {
  background-color: rgb(0, 0, 0);
}

.clients-number__count-button--plus:active::before,
.clients-number__count-button--minus:active::before,
.clients-number__count-button--plus:active::after,
.clients-number__count-button--minus:active::after {
  background-color: rgb(129, 179, 210);
}

.submit-search-button {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 53px;
  margin-bottom: 54px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(129, 179, 210);
  border: 0px;
}

.submit-search-button:hover,
.submit-search-button:focus {
  background-color: rgb(102, 158, 192);
}

.submit-search-button:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  width: 100%;
  margin: 0;
  padding: 36px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.main-footer--opacity {
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  margin: 0;
  padding: 0;
  width: 400px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 150px;
  list-style: none;
}

.footer-social__item {
  margin: 0;
  padding: 0;
  background-color: rgb(129, 179, 210);
}

.footer-social__link {
  display: flex;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: rgb(102, 158, 192);
}

.footer-social__link:active {
  background-color: rgb(84, 150, 189);
  fill: rgba(255, 255, 255, 0.3);
}

.footer-social__link:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 400px;
  font-size: 14px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.footer-copyright span {
  padding-right: 6px;
  padding-bottom: 7px;
}

.footer-copyright__logo-link {
  padding-left: 6px;
}

.footer-copyright svg {
  width: 113px;
  height: 39px;
}

.footer-copyright__logo-link path {
  fill: rgb(0, 0, 0);
}

.footer-copyright__logo-link:hover path,
.footer-copyright__logo-link:focus path {
  fill: rgb(129, 179, 210);
}

.footer-copyright__logo-link:active path {
  fill: rgb(189, 187, 188);
}

.footer-copyright__logo-link rect {
  fill: rgb(0, 0, 0);
}

.footer-copyright__logo-link:hover rect,
.footer-copyright__logo-link:focus rect {
  fill: rgb(129, 179, 210);
}

.footer-copyright__logo-link:active rect {
  fill: rgb(189, 187, 188);
}

.hotels-search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-right: 73px;
  padding-left: 73px;
  width: 1200px;
  background: url("../img/filter-background.jpg") left -56px;
}

.form-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container--infrastructure {
  width: 240px;
}

.form-container--residence-type {
  width: 486px;
  padding-left: 15px;
}

.form-container--price-per-day {
  width: 328px;
  padding-left: 8px;
}

.filter-form__header {
  margin: 0;
  padding: 0;
  margin-top: 46px;
  margin-bottom: 29px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.filter-form__header--price-per-day {
  margin-bottom: 9px;
}

.filter-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-form__option {
  margin-bottom: 30px;
  padding-left: 40px;
}

.filter-form__option label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  line-height: 21px;
  color: rgb(255, 255, 255);
}

.filter-form__input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.filter-form__input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -42px;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-on.svg") no-repeat;
}

.filter-form__input-checkbox:disabled + label::before {
  background: url("../img/checkbox-off-disabled.svg") no-repeat;
}

.filter-form__input-checkbox:checked:disabled + label::after {
  background: url("../img/checkbox-on-disabled.svg") no-repeat;
}

.filter-form__price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
}

.filter-form__price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background-color: rgb(255, 255, 255);
}

.filter-form__price {
  display: inline-block;
  width: 90px;
  padding-top: 8px;
  padding-left: 65px;
  font-size: 14px;
  line-height: 21px;
  color: rgb(255, 255, 255);
  vertical-align: top;
  cursor: pointer;
}

.filter-form__price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.filter-form__range-controls {
  position: relative;
  margin-bottom: 32px;
}

.filter-form__scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-form__bar {
  width: 80%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.filter-form__range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background-color: rgb(171, 171, 171);
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.filter-form__range-toggle:hover {
  background-color: rgb(28, 79, 128);
}

.filter-form__range-toggle--min {
  left: 0;
}

.filter-form__range-toggle--min {
  left: 80%;
}

.filter-form__button-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 21px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  cursor: pointer;
}

.filter-form__button-transparent:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.sorting-panel {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-right: 73px;
  padding-left: 73px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.founded {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 34px;
  width: 164px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: rgb(0, 0, 0);
}

.sorting-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-bottom: 34px;
  width: 858px;
}

.sorting-filters__sorting {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: rgb(0, 0, 0);
}

.sorting-filters__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-filters__item {
  margin-left: 34px;
  font-size: 12px;
  line-height: 18px;
}

.sorting-filters__item:first-child {
  margin-left: 40px;
}

.sorting-filters__item a:link,
.sorting-filters__item a:visited {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.sorting-filters__item a:hover {
  color: rgb(129, 179, 210);
}

.sorting-filters__item a:focus,
.sorting-filters__item a:active {
  color: rgba(0, 0, 0);
  border: none;
}

.sorting-filters__item--current a:link,
.sorting-filters__item--current a:visited {
  color: rgb(129, 179, 210);
  border: none;
}

.sorting-arrows {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 39px;
  padding-bottom: 36px;
  width: 34px;
}

.sorting-arrows__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-arrows__item {
  margin: 0;
  padding: 0;
}

.sorting-arrows__button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 11px;
  height: 10px;
}

.sorting-arrows__arrow:link path,
.sorting-arrows__arrow:visited path {
  fill: rgba(202, 202, 202);
}

.sorting-arrows__arrow:hover path {
  fill: rgb(35, 31, 32);
}

.sorting-arrows__arrow:focus path,
.sorting-arrows__arrow:active path {
  fill: rgb(129, 179, 210);
}

.sorting-arrows__arrow--current:link path,
.sorting-arrows__arrow--current:visited path {
  fill: rgb(129, 179, 210);
}

.hotels-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.hotels-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0;
  padding-right: 73px;
  padding-left: 73px;
  border-top: 1px solid rgb(229, 229, 229);
}

.hotels-list-item:last-child {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.hotels-list-item__photo-block {
  margin: 0;
  padding: 0;
  width: 165px;
}

.hotels-list-item__photo-block img {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotels-list-item__info-block {
  margin: 0;
  padding: 0;
  width: 650px;
}

.hotels-list-item__name {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.hotels-list-item__name a:link,
.hotels-list-item__name a:visited {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.hotels-list-item__name a:hover {
  color: rgb(129, 179, 210);
}

.hotels-list-item__name a:focus,
.hotels-list-item__name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-list-item__container {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.hotels-list-item__column {
  margin: 0;
  padding: 0;
  margin-right: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 0;
}

.hotels-list-item__info {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: rgb(51, 51, 51);
}

.hotels-list-item__button:link,
.hotels-list-item__button:visited {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  margin-top: 15px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 5px;
  padding-bottom: 6px;
  text-align: center;
}

.hotels-list-item__button--details:link,
.hotels-list-item__button--details:visited {
  color: rgb(255, 255, 255);
  background-color: rgb(129, 179, 210);
}

.hotels-list-item__button--details:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(102, 158, 192);
}

.hotels-list-item__button--details:focus,
.hotels-list-item__button--details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(84, 150, 189);
}

.hotels-list-item__button--booking:link,
.hotels-list-item__button--booking:visited {
  color: rgb(255, 255, 255);
  background-color: rgb(118, 99, 87);
}

.hotels-list-item__button--booking:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(96, 78, 67);
}

.hotels-list-item__button--booking:focus,
.hotels-list-item__button--booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(80, 62, 51);
}

.hotels-list-item__rating-block {
  display: flex;
  flex-direction: column;
  flex-basis: 241px;
  justify-content: space-between;
  align-items: flex-end;
}

.hotels-list-item__star-container {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
}

.hotels-list-item__star {
  width: 18px;
  height: 17px;
  background: url("../img/star.svg") no-repeat;
  margin-left: 6px;
}

.hotels-list-item__rating {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 6px;
  color: rgb(102, 102, 102);
  background-color: rgb(242, 242, 242);
}
